:root {
  --theme-color-dark: #003324;
  --theme-color: #00A170;
  --theme-color-light: LightGray;
  --warning: #ffc107;
  --danger: #dc3545;
}

#App-Container {
  background-color: var(--theme-color-dark);
  color: var(--theme-color-light);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
}

#App-Card {
  background-color: var(--theme-color);
  color: #f4f4f4;
  min-width: 30vw;
}

#App-Card .Card-Btn, #Settings .btn {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

#start_stop:hover {
  background-color: var(--theme-color-dark);
}

#pause:hover {
  background-color: var(--warning);
}

#reset:hover {
  background-color: var(--danger);
}

#App-Card .Card-Btn:focus, #Settings .btn:focus{
  box-shadow: none;
}

#Settings .btn {
  background-color: var(--theme-color-dark);
  border-color: var(--theme-color);
}

#Settings .btn:hover {
  background-color: var(--theme-color);
  border-color: var(--theme-color);

}